.react-multi-carousel-item {
    /* width: 320px !important;
    height: 350px !important; */

}

.react-multi-carousel-track {
    gap: 0px !important;
}

.react-multi-carousel-list {
    /* display: flex;
    justify-content: center; */
}